modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JavaCinebookApp"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "java_app"

[[workflows.workflow]]
name = "JavaCinebookApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p CineBookCDO/bin && /nix/store/gpxl5qgg8kicmcvivwmybwjlpf7wh20l-graalvm17-ce-22.3.0/bin/javac -d CineBookCDO/bin CineBookCDO/src/**/*.java && /nix/store/gpxl5qgg8kicmcvivwmybwjlpf7wh20l-graalvm17-ce-22.3.0/bin/java -cp CineBookCDO/bin Main"

[[workflows.workflow]]
name = "java_app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -cp CineBookCDO/src Main"

[deployment]
run = ["sh", "-c", "mkdir -p CineBookCDO/bin && /nix/store/gpxl5qgg8kicmcvivwmybwjlpf7wh20l-graalvm17-ce-22.3.0/bin/javac -d CineBookCDO/bin CineBookCDO/src/**/*.java && /nix/store/gpxl5qgg8kicmcvivwmybwjlpf7wh20l-graalvm17-ce-22.3.0/bin/java -cp CineBookCDO/bin Main"]
